/* ---------------------------------------------------------------------
 * https://secure.bankofamerica.com/pa/components/bundles/gzip-compressed/xengine/VIPAA/9.6/style/vipaa-v4-jawr.css 
 * --------------------------------------------------------------------- 
 */

 html {
    background: #FFF;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body,
div,
ul,
li,
h1,
h2,
h3,
h4,
form,
input,
p {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-size: 100%;
    font-weight: normal;
}

input,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

strong {
    font-weight: bold;
}

img {
    -ms-interpolation-mode: bicubic;
}

input[disabled] {
    cursor: default;
}

input[type="checkbox"] {
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

body {
    font: 62.5%/1.5 Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    padding-bottom: 40px;
}

a {
    color: #36C;
    text-decoration: none;
}

a:visited {
    color: #651c7e;
}

a:hover {
    color: #00F;
    text-decoration: underline;
}

a:focus {
    outline: 0;
    color: #00F;
    text-decoration: underline;
}

img {
    border: 0 none;
}

.clearboth {
    clear: both;
    height: 1px;
    visibility: hidden;
    line-height: 1pt;
    font-size: 0;
}

.hidden,
.hide {
    display: none;
}

form {
    margin: 0;
    padding: 0;
}

.ada-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.mbtm-10 {
    margin-bottom: 10px;
}

.mtop-15 {
    margin-top: 15px;
}

.f-11 {
    font-size: 1.1em;
}

.bold {
    font-weight: bold;
}

.ls-n1 {
    letter-spacing: -1px!important;
}

.ls-n2 {
    letter-spacing: -2px!important;
}

.fl-lt {
    float: left;
}

.fl-rt {
    float: right;
}

.h-100 {
    height: 100%;
}

ul.li-pbtm-15 li {
    padding-bottom: 15px;
}

[data-font] {
    visibility: hidden;
}

.guillemet {
    font-weight: bold;
    letter-spacing: -3px;
}

.btn-bofa {
    position: relative;
    display: inline-block;
    font: bold 15px/22px Arial, Helvetica, sans-serif;
    color: #685e53;
    padding: 5px 19px 7px;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none!important;
    border: 1px solid #bcb2a4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #eae6e1;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#f6f5f2), to(#e6e2dc));
    background-image: -webkit-linear-gradient(#f6f5f2, #e6e2dc);
    background-image: -moz-linear-gradient(#f6f5f2, #e6e2dc);
    background-image: -ms-linear-gradient(#f6f5f2, #e6e2dc);
    background-image: linear-gradient(#f6f5f2, #e6e2dc);
}

.btn-bofa::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.btn-bofa:visited {
    color: #685e53;
}

.btn-bofa:hover {
    color: #685e53;
    border: 1px solid #bbb1a3;
    background-color: #e6e2dd;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#e6e2dc), to(#f6f5f2));
    background-image: -webkit-linear-gradient(#e6e2dc, #f6f5f2);
    background-image: -moz-linear-gradient(#e6e2dc, #f6f5f2);
    background-image: -ms-linear-gradient(#e6e2dc, #f6f5f2);
    background-image: linear-gradient(#e6e2dc, #f6f5f2);
}

.btn-bofa:active,
.btn-bofa:focus {
    color: #fff;
    border: 1px solid #9a8c7f;
    background-color: #827465;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#524940), to(#827465));
    background-image: -webkit-linear-gradient(#524940, #827465);
    background-image: -moz-linear-gradient(#524940, #827465);
    background-image: -ms-linear-gradient(#524940, #827465);
    background-image: linear-gradient(#524940, #827465);
}

.btn-bofa-small {
    font-size: 13px;
    padding: 1px 14px;
}

.btn-bofa-blue {
    color: #fff;
    border-color: #124e89;
    background-color: #0077be;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#007dc3), to(#0067b1));
    background-image: -webkit-linear-gradient(#007dc3, #0067b1);
    background-image: -moz-linear-gradient(#007dc3, #0067b1);
    background-image: -ms-linear-gradient(#007dc3, #0067b1);
    background-image: linear-gradient(#007dc3, #0067b1);
}

.btn-bofa-blue:visited {
    color: #fff;
}

.btn-bofa-blue:hover {
    color: #fff;
    border-color: #124e89;
    background-color: #0068b2;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#0067b1), to(#007dc3));
    background-image: -webkit-linear-gradient(#0067b1, #007dc3);
    background-image: -moz-linear-gradient(#0067b1, #007dc3);
    background-image: -ms-linear-gradient(#0067b1, #007dc3);
    background-image: linear-gradient(#0067b1, #007dc3);
}

.btn-bofa-blue:active,
.btn-bofa-blue:focus {
    background-color: #1b4ba4;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#153687), to(#1b4ba4));
    background-image: -webkit-linear-gradient(#153687, #1b4ba4);
    background-image: -moz-linear-gradient(#153687, #1b4ba4);
    background-image: -ms-linear-gradient(#153687, #1b4ba4);
    background-image: linear-gradient(#153687, #1b4ba4);
}

.btn-bofa-red {
    color: #fff;
    border-color: #bb292b;
    background-color: #dc1431;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#dc1431), to(#c41230));
    background-image: -webkit-linear-gradient(#dc1431, #c41230);
    background-image: -moz-linear-gradient(#dc1431, #c41230);
    background-image: -ms-linear-gradient(#dc1431, #c41230);
    background-image: linear-gradient(#dc1431, #c41230);
}

.btn-bofa-red:visited {
    color: #fff;
}

.btn-bofa-red:hover {
    color: #fff;
    border-color: #ba2628;
    background-color: #c61230;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#c41230), to(#dc1431));
    background-image: -webkit-linear-gradient(#c41230, #dc1431);
    background-image: -moz-linear-gradient(#c41230, #dc1431);
    background-image: -ms-linear-gradient(#c41230, #dc1431);
    background-image: linear-gradient(#c41230, #dc1431);
}

.btn-bofa-red:active,
.btn-bofa-red:focus {
    border-color: #960602;
    background-color: #630;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#900), to(#630));
    background-image: -webkit-linear-gradient(#900, #630);
    background-image: -moz-linear-gradient(#900, #630);
    background-image: -ms-linear-gradient(#900, #630);
    background-image: linear-gradient(#900, #630);
}

.btn-disabled,
.btn-disabled:hover,
.btn-disabled:active,
.btn-disabled:focus,
.btn-disabled:visited {
    cursor: default;
    color: #bbb1a3;
    text-shadow: none;
    border-color: #bbb1a3;
    background-color: #fafafa;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-bofa-noRight {
    margin-right: 0;
}

.select-bofa {
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    border: 1px solid #bbb1a3;
    font: normal 13px/24px Arial, Helvetica, sans-serif;
    color: #333;
    background: #fff;
    height: 24px;
    *font-size: 14px;
}

.select-bofa option {
    padding-right: 10px;
}

.phoenix {
    font-size: 12px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

.phoenix .simple-form label {
    display: block;
    font-weight: bold;
    padding-bottom: 4px;
}

.phoenix .simple-form input {
    display: block;
    border: 1px solid #ccc;
    padding: 4px 2px;
    width: 165px;
}

.phoenix .simple-form .btn-bofa {
    margin-top: 30px;
}

.phoenix .remember-info {
    margin-top: 18px;
}

.phoenix .remember-info input {
    border: 0;
    float: left;
    margin: 2px 6px 0 0;
    padding: 0;
    width: 15px;
}

.phoenix .remember-info label {
    float: left;
    padding: 0 6px 0 0;
    font-weight: normal;
}

.phoenix .info-layer-help-fsd {
    background: url(https://secure.bankofamerica.com/pa/global-assets/1.0/graphic/help-qm-fsd.png) 1px 1px no-repeat;
    height: 21px;
    width: 18px;
    float: left;
}

.phoenix a.info-layer-help-fsd:focus {
    border: 1px dotted #333;
}

.phoenix a.info-layer-help-fsd:hover {
    background: url(https://secure.bankofamerica.com/pa/global-assets/1.0/graphic/help-qm-fsd-hover.png) 1px 1px no-repeat;
}

.btn-bofa-blue-lock {
    padding-left: 15px;
    color: #fff;
    background: url(https://secure.bankofamerica.com/pa/global-assets/1.0/graphic/sign-in-sprite.png) no-repeat scroll 0 -4px transparent;
}

.fsd-layout {
    width: 980px;
    margin: 0 auto;
}

.fsd-layout .columns {
    margin: 25px 0 80px 25px;
    *display: inline-block;
}

.fsd-layout .footer {
    position: relative;
}

.fsd-layout .footer .footer-inner {
    width: 100%;
    background-color: #f9f7f4;
}

.fsd-2c-700lt-layout .columns .lt-col {
    float: left;
    width: 700px;
    margin-right: 25px;
}

.fsd-2c-700lt-layout .columns .rt-col {
    float: left;
    width: 205px;
}

.fauxdal-overlay {
    background: #666;
    opacity: .50;
    filter: Alpha(Opacity=50);
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.global-footer-module .gray-bground-skin {
    padding: 17px 25px 25px;
    background-color: #f3efea;
}

.global-footer-module .gray-bground-skin .secure {
    background: url(https://secure.bankofamerica.com/pa/components/modules/global-footer-module/2.5/graphic/gfootb-static-sprite.png) 0 -10px no-repeat;
    font-size: 11px;
    color: #666;
    font-weight: bold;
    line-height: 14px;
    padding-left: 20px;
    margin-bottom: 13px;
}

.global-footer-module .gray-bground-skin .link-container {
    font-size: 11px;
}

.global-footer-module .gray-bground-skin .link-container a {
    display: block;
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    background: url(https://secure.bankofamerica.com/pa/components/modules/global-footer-module/2.5/graphic/gfootb-static-sprite.png) right -23px no-repeat;
}

.global-footer-module .gray-bground-skin .link-container a.last-link {
    margin: 0;
    padding: 0;
    background: 0;
}

.global-footer-module .gray-bground-skin p {
    font-size: 11px;
    margin-top: 11px;
    line-height: 15px;
}

.global-footer-module .gray-bground-skin p a {
    background: url(https://secure.bankofamerica.com/pa/components/modules/global-footer-module/2.5/graphic/gfoot-home-icon.png) no-repeat right 2px;
    padding-right: 20px;
}

.fsd-layout .footer-inner .global-footer-module .gray-bground-skin {
    padding-bottom: 45px;
}

div.center-content>div.footer>div.footer-inner {
    margin-top: 0!important;
}

.header-module .fsd-secure-esp-skin {
    padding: 20px 0 25px 25px;
    *display: inline-block;
}

.header-module .fsd-secure-esp-skin a,
.header-module .fsd-secure-esp-skin img {
    display: block;
    float: left;
    color: #666;
}

.header-module .fsd-secure-esp-skin .page-type {
    float: left;
    color: #837361;
    font: 20px Arial, Helvetica, sans-serif;
    margin: 5px 0 0 25px;
}

.header-module .fsd-secure-esp-skin .right-links {
    float: right;
    font-size: 11px;
    padding-top: 8px;
}

.header-module .fsd-secure-esp-skin div.secure-area {
    font-weight: bold;
    background: url(https://secure.bankofamerica.com/pa/components/modules/header-module/2.8/graphic/fsd-secure-esp-sprite.png) 0 0 no-repeat;
    padding: 0 10px 0 16px;
    float: left;
    color: #666;
}

.header-module .fsd-secure-esp-skin a.divide {
    background: url(https://secure.bankofamerica.com/pa/components/modules/header-module/2.8/graphic/fsd-secure-esp-sprite.png) 0 -22px no-repeat;
    padding-left: 10px;
}

.page-title-module .red-grad-bar-skin {
    background: #dc1431;
    padding: 0 25px;
}

.page-title-module .red-grad-bar-skin h1 {
    color: #fff;
    line-height: 60px;
    font-size: 22px;
}

.messaging-vipaa-module {
    outline: 0;
}

.messaging-vipaa-module .error-skin {
    font-size: 11px;
    margin: 20px;
    padding: 20px 20px 17px 20px;
    border: 1px solid #d10019;
    background-color: #fff4f9;
}

.messaging-vipaa-module .error-skin .error-message {
    padding: 4px 0 0 61px;
    background: url(https://secure.bankofamerica.com/pa/components/modules-app/VIPAA/change-pin-vipaa-module/1.0/graphic/error-large.gif) 0 0 no-repeat;
    min-height: 36px;
}

.messaging-vipaa-module .error-skin .error-message p.title {
    font-weight: bold;
    padding-bottom: 7px;
    color: #d10019;
}

.messaging-vipaa-module {
    outline: 0;
}

.messaging-vipaa-module .error-skin {
    font-size: 11px;
    margin: 20px;
    padding: 20px 20px 17px 20px;
    border: 1px solid #d10019;
    background-color: #fff4f9;
}

.messaging-vipaa-module .error-skin .error-message {
    padding: 5px 0 0 61px;
    background: url(https://secure.bankofamerica.com/pa/components/modules-app/VIPAA/change-pin-vipaa-module/1.0/graphic/error-large.gif) 0 0 no-repeat;
    min-height: 36px;
}

.messaging-vipaa-module .error-skin .error-message p.title {
    font-weight: bold;
    padding-bottom: 5px!important;
    color: #d10019;
}

.messaging-vipaa-module {
    outline: 0;
}

.messaging-vipaa-module .error-skin {
    font-size: 11px;
    margin: 20px;
    padding: 20px 20px 17px 20px;
    border: 1px solid #f8edf3;
    background-color: #fff4f9;
}

.messaging-vipaa-module .error-skin .error-message {
    padding: 4px 0 0 61px;
    background: url(https://secure.bankofamerica.com/pa/components/modules-app/VIPAA/messaging-vipaa-module/1.0/graphic/error-large.gif) 0 0 no-repeat;
    min-height: 36px;
}

.messaging-vipaa-module .error-skin .error-message p.title {
    font-weight: bold;
    padding-bottom: 7px;
}

.messaging-vipaa-module .error-skin .error-message ul {
    margin-left: 13px;
}

.messaging-vipaa-module .error-skin .error-message p.title {
    color: #d10019;
}

.online-id-vipaa-module .enter-skin label {
    font-weight: normal;
    font-size: 18px;
}

.online-id-vipaa-module .phoenix .remember-info {
    margin-top: 8px;
    margin-bottom: 38px;
}

.online-id-vipaa-module .enter-skin #tlpvt-passcode-input,
.online-id-vipaa-module .enter-skin #enterID-input {
    width: 209px;
}

.online-id-vipaa-module .enter-skin .remember-info label {
    font-size: 13px;
    color: #303332;
}

.fsd-layout .center-content .columns .flex-col .online-id-vipaa-module .enter-skin {
    margin-top: 15px;
}

.online-id-vipaa-module .enter-skin .online-id-section {
    position: relative;
}

.online-id-vipaa-module .enter-skin .title {
    font-size: 24px;
}

.online-id-vipaa-module .mcta-bubble {
    padding-top: 40px;
    padding-bottom: 10px;
    max-width: 540px;
}

.online-id-vipaa-module .enter-skin .enroll-color-gray {
    color: #544a42;
}

.online-id-vipaa-module .mobile-cta-section {
    margin-top: -175px;
    width: 320px;
}

.online-id-vipaa-module .mobile-cta-section {
    margin-top: 0;
    width: 320px;
}

.online-id-vipaa-module .forgot-passcode {
    margin-top: 30px;
    margin-left: 0;
}

.online-id-vipaa-module .mobile-cta-section .title {
    font-size: 18px;
}

.online-id-vipaa-module .get-app-content-section {
    margin-top: 20px;
    margin-left: 160px;
}

.online-id-vipaa-module .mobile-cta-section .mcta-bubble {
    padding-top: 40px;
}

.online-id-vipaa-module .enter-skin .vertical-dotted-line {
    border-left: 1px solid #ccc;
    height: 275px;
    padding-left: 60px;
}

.digital-id-notify .digital-id-head {
    font-size: 15px;
    font-weight: bold;
}

.digital-id-notify .digital-id-msg {
    margin: 20px 0 20px 0;
}

.digital-id-notify .digital-id-link {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.displayNone {
    display: none;
}

.online-id-vipaa-module .enter-skin #EnterOnlineIDForm {
    float: left;
    margin-right: 70px;
    width: 37%;
}

.online-id-vipaa-module .enter-skin .mobile-cta-section {
    float: left;
    width: 41%;
}

#signin-with-passcode,
#signin-mobile-app {
    padding-left: 50px;
    font-weight: bold;
}

.circle-animation .loading-circle {
    text-align: center;
    width: 35px;
}

.circle-animation .loading-circle>div {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    animation: circle-bounce 1.4s infinite ease-in-out both;
}

#digital-id-success-message .circle-animation .loading-circle>div {
    background-color: #0052c2;
}

.circle-animation .loading-circle .circle-bounce1 {
    animation-delay: -0.32s;
}

.circle-animation .loading-circle .circle-bounce2 {
    animation-delay: -0.16s;
}

@keyframes circle-bounce {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

.circle-animation .circle-inline {
    display: inline-block;
    margin-right: 14px;
}

.online-id-vipaa-module .enter-skin #tlpvt-passcode-input {
    margin-bottom: 24px;
}

.digital-id-notify {
    width: 215px;
}

#EnterOnlineIDForm .forgot-passcode {
    margin-top: 0;
}

.online-id-vipaa-module .mobile-cta-section .get-app-content-section .mcta-bubble {
    width: 159px;
}

select {
    display: block;
}

ul {
    list-style-type: none;
}

html:lang(es-US) # html:lang(es-US) .sc-vipaa-module .sign-in-settings-skin .id-pwd-section .id-container {
    margin-right: 90px;
}

.side-well-vipaa-module .fsd-ll-skin {
    padding: 0 9px;
    *float: left;
    *margin-bottom: 15px;
    font-size: 11px;
}

.side-well-vipaa-module .fsd-ll-skin h2 {
    border-bottom: 1px solid #e0d9d3;
    padding: 18px 0 8px;
    font-size: 14px;
}

.side-well-vipaa-module .fsd-ll-skin ul {
    padding: 12px 0 5px;
}

.side-well-vipaa-module .fsd-ll-skin ul li a.arrow {
    display: inline-block;
}

.aps-mobile-products .sprite {
    position: relative;
}

.aps-mobile-products .sprite>.spr {
    position: absolute;
    background: transparent no-repeat 0 0;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-image: url(https://secure.bankofamerica.com/pa/components/pa/components/modules-app/APS-mobile-products/sprite-aps-mp-module/1.0/graphics/aps-mobile-products-icon-sprite-dev.png');
}

.aps-mobile-products .sprite.row-2>.spr {
    width: 100px!important;
}

.aps-mobile-products .sprite-I5>.spr {
    background-position: -450px -250px;
}

.aps-mobile-products .sprite-J5>.spr {
    background-position: -500px -250px;
}

.aps-mobile-products .sprite-K5>.spr {
    background-position: -550px -250px;
}

.aps-mobile-products .sprite-L5>.spr {
    background-position: -600px -250px;
}

.aps-mobile-products .sprite-D7>.spr {
    background-position: -200px -350px;
}

.mobile-app-download-module .choose-device-modal-skin {
    position: relative;
    font-size: 12px;
}

.mobile-app-download-module .choose-device-modal-skin p {
    margin-bottom: 6px;
    margin-top: 10px;
}

.mobile-app-download-module .choose-device-modal-skin select {
    margin-top: 10px;
    margin-bottom: 25px;
    width: 50%;
}

.mobile-app-download-module .choose-device-modal-skin .btn-bofa {
    width: 35%;
    margin-bottom: 25px;
}

body {
    font: 62.5%/1.5 Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    padding-bottom: 40px;
}

.h-100 {
    height: 100%;
}

[data-font] {
    visibility: hidden;
}

.page-title-module .red-grad-bar-skin {
    background: #dc1431;
    padding: 0 25px;
}

.page-title-module .red-grad-bar-skin h1 {
    color: #fff;
    line-height: 60px;
    font-size: 22px;
}

html:lang(es-US) # html:lang(es-US) .sc-vipaa-module .sign-in-settings-skin .id-pwd-section .id-container {
    margin-right: 90px;
}
